<!-- your html code here -->
<div class="container">

    <form>
        
        <div><h2>Contact</h2></div>
        
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
        
        <div class=" row justify-content-end  p-2" >

            <div class="col-2"></div>

            <div class="col-2 mb-2 ">

                <div class="mb-2 text-end">
                    <div class="mb-2 text-end"><label for="email"><b>Your E-mail</b></label></div>
                    <label for="message"><b>Your message</b></label>
                    
                </div>

            </div>

            <div class="col-8">

                <div div class>
                    <div id="emailHelp" class="form-text mb-2">
                    <input type="email" placeholder="Your email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     </div>
                    
                    <textarea class="form-control" rows="5" cols="60" placeholder="Please enter your message here.." id="floatingTextarea" class="form-text mb-2"></textarea>
                </div>

            </div>

            <div class="d-grid d-flex justify-content-end mt-2">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </form>

</div>