<!-- your html code here -->
<div class="container my-5">

    <form>

        <div>
            <h2>Contact</h2>
        </div>

        <div>
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </div>

        <div class=" row p-2">

            <div class="col-3"></div>

            <div class="col-7">

                <div class="container bg-light border rounded p-1">
                    <div class="row d-flex">
                        <div class="col-4 text-end">
                            <label class="mt-2" for="email"><b>Your E-mail</b></label>
                        </div>
                        <div class="col-8">
                            <div id="emailHelp" class="form-text mb-2 col-12">
                            <input type="email" placeholder="Your email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row d-flex">
                        <div class="col-4 text-end">
                            <label class="mt-2" for="message"><b>Your message</b></label>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" rows="5" cols="50" placeholder="Please enter your message here.."
                            id="floatingTextarea" class="form-text mb-2"></textarea>
                        </div>
                        
                    </div>
                    <div class="row my-3">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
    </form>

</div>