<!-- your html code here -->
<div class="container my-5">

    <div class="row g-0">

        <div class="col-8">
            <div class="d-flex justify-content-start">
                <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            </div>
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod quis nostrud exercitation
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sunt in culpa qui.
            </p>
        </div>

        <div class="col-4">

            <img src=assets/img/1.jpg width="100%" height="100%" class="rounded-circle">
            

        </div>

    </div>

</div>