<!-- your html code here -->
<div class="container">

    <div class="row p-5">

        <div class="col-1"></div>

        <div class="col-6">

            <div class="d-flex justify-content-start"><h2>This First Heading</h2><p class="ms-2 h2 text-light">Will Catch Your Eye</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod quis nostrud exercitation 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sunt in culpa qui.
                 </p>

        </div>

        <div class="col-4">
            <img src= assets/img/1.jpg width="100%" height="100%" class="rounded-circle"> 
        </div>

        <div class="col-1"></div>
    </div>

</div>