<!-- your html code here -->
<!--main container for services-->
<div class="container my-5">
    <hr>
    <div class="row g-0">
        <!--containing image-->
        <div class="col-md-3">
            <img class="img-fluid rounded-circle" src="assets/img/2.jpg" width="100%" height="100%">
        </div>
        <!--containing heading and paragraph-->
        <div class="col-md-9">
            <!--heading-->
            <div class="h2">
                The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span>
            </div>
            <p class="fs-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique illo quis est, repudiandae corporis
                maiores, ad aspernatur non corrupti ipsam libero doloribus labore repellat maxime perferendis quo, et ex
                quam.
            </p>
        </div>
    </div>

</div>
