<!-- your html code here -->
<!-- <div class="h-100 w-100 d-flex justify-content-center" style="background-image: url('assets/img/bg.jpg'); background-size: cover; background-position: center;">
  <div class="container-fluid">
    <div class="row mt-3 py-3 d-flex align-items-center">
      <div class="col-12 bg-light">
      <h1 class="text-center">One Page Wonder</h1>
    </div>
      </div>
      <div class="row mt-1 py-3 d-flex align-items-center">
        <div class="col-12 bg-light">
          <h2 class="text-center">Will knock your socks off</h2>
        /div>
      </div>
    </div>
  </div>
</div> -->

<div class="jumbotron jumbotron-fluid bg-dark text-white" style="background-image: url('assets/img/bg.jpg'); background-size: cover; background-position: center center;">
  <div class="container">
    <h1 class="display-4">Your Title Here</h1>
    <p class="lead">Your text here.</p>
  </div>
</div>



